/*reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: "NeuzeitS";
    src: url("../Fonts/Neuzeit_S_LT_Book.ttf") format("truetype");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../Fonts/Myriad-Pro_31655.ttf") format("truetype");
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* site */

#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
    height: 59px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#login {
    width: 55px;
    float: left;
}

#login img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#menu {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu img {
    width: 19.83%;
    float: left;
    padding-left: 8.33%;
    padding-top: 16px;
}

#menu> ul {
    font-size: 1.05em;
    font-family: "NeuzeitS";
    color: rgb(255, 255, 255);
    line-height: 0.896;
    width: 56.25%;
    display: inline-block;
    padding-left: 4.16%;
    overflow: auto;
    height: 59px;
    margin-bottom: 0;
}

nav #menu> ul li {
    float: left;
    list-style-type: none;
    line-height: 50px;
    height: 59px;
}

#menu > ul > li:nth-child(-n+6):after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #000000;
    display: inline-block;
}

#menu > ul > li:nth-child(6):after {
    display: none;
    padding-right: 0;
}


nav #menu li a {
    font-size: 1.063em;
    font-family: "NeuzeitS";
    color: rgb(255, 255, 255);
    line-height: 3.496;
    text-align: left;
    margin-right: 21px;
    margin-left: 21px;
    text-decoration: none;
}

nav #menu li .nav-dropdown {
    display: none;
}

nav #menu li:hover .nav-dropdown {
    display: block;
}

div.nav-dropdown {
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    color: black;
    background-color: #00e1f5;
    overflow: auto;
    opacity: 1;
}
/* dropdown-menu brands */
div#allBrands {
    width: 810px;
    height: 290px;
    margin-left: 722px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 215px;
}

div#listBrands h1:first-child {
    font-size: 15px;
    font-family: "NeuzeitS";
    color: rgb(0, 150, 165);
    text-transform: uppercase;
    line-height: 0.733;
    text-align: left;
    border-bottom: 1px solid #1cb1c5;
    padding-bottom: 17px;
}

div#listBrands h1:last-child {
    font-size: 17px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    line-height: 1.733;
    text-align: left;
    border-top: 1px solid #1cb1c5;
    padding-top: 17px;
}

div#listBrands h1 span {
    color: #388196;
    margin-left: 5px;
}

#listBrands ul {
    column-count: 3;
    column-gap: 34px;
    overflow: auto;
}

div#listBrands ul li {
    content: none;
    float: none;
    font-size: 17px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    line-height: 1.529;
    text-align: left;
    height: initial;
}
/*end dropdown-menu brands */
/* dropdown-menu journal */
#journal li{
   font-size: 17px;
  font-family: "NeuzeitS";
  color: rgb(50, 50, 50);
  line-height: 1.529;
  text-align: left;
  width: 78px;
  height: initial;
  display:block;
}
/* search */

#searchBasket {
    width: 57px;
    float: right;
    display: block;
}

#searchBasket img {
    display: block;
    position: absolute;
    top: 19px;
    right: 28px;
    margin: auto;
}

#searchImg {
    background: url('../images/search.png') no-repeat 0 0;
    width: 15px;
    height: 22px;
    display: block;
    position: absolute;
    top: 19px;
    right: 59px;
    margin: auto;
}

.search {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    width: 1015px;
    height: 250px;
    color: black;
    background-color: #00e1f5;
    overflow: auto;
    opacity: 1;
}

.search h1 {
    font-size: 34px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    line-height: 1.2;
    text-align: left;
    margin-left: 21px;
    display: inline-block;
}

#search-close_open {
    background: url('../images/search-close_open.png') no-repeat;
    float: right;
    width: 108px;
    height: 32px;
    margin-top:25px;
    margin-right:23px;
}

.search ul {
    padding-left: 21px;
    border-top: 1px solid #1cb1c5;
    width: 100%;
    padding-top: 12px;
    margin-top: 12px;
}

.search ul li {
    font-size: 13px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    line-height: 1.923;
    text-align: left;
}


/*end search */

#basket {
    background: url('../images/search.png') no-repeat -35px -2px;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: 19px;
    right: 14px;
    margin: auto;
}


/* carousel */

#carousel {
    background-color: #ebebe6;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 94.6%;
    margin-left: 55px;
    margin-right: 55px;
}

.carousel-control {
    color: red;
}


/* section */

section {
    max-width: 1200px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section article ul {
    margin-bottom: 2.96%;
}

#article ul {
    display: block;
    width: 100%;
    overflow: auto;
}

#article ul li {
    width: 32.16%;
    float: left;
    margin-right: 1.76%;
    list-style-type: none;
}

#article ul li:last-child {
    margin-right: 0;
}

#article ul li>img {
    width: 100%;
}

#article ul li p:nth-child(2) {
    font-size: 13px;
    font-family: "NeuzeitS";
    color: rgb(150, 150, 150);
    line-height: 1.615;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 1px;
}

#article ul li h3:nth-child(3) {
    color: black;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 23px;
    word-spacing: 2.6px;
    font-family: "NeuzeitS";
}

#article ul li p:nth-child(4) {
    font-size: 14px;
    font-family: "NeuzeitS";
    color: rgb(150, 150, 150);
    line-height: 1.610;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 5px;
}

#article ul li a {
    color: #00e1f5;
    text-decoration: none;
}

#article ul li a img {
    width: 12px;
    height: 9px;
    margin-left: 6px;
}

#goods ul {
    display: block;
    width: 100%;
    overflow: auto;
}

#goods ul li {
    width: 18.67%;
    float: left;
    margin-right: 1.66%;
    list-style: none;
}

#goods ul li:last-child {
    margin-right: 0;
}

#goods ul li img {
    width: 100%;
}

#goods > ul > li p:nth-child(3) {
    font-size: 14px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    line-height: 1.286;
    letter-spacing: 2px;
    word-spacing: 2.6px;
    margin-top: 10px;
    margin-bottom: 3px;
}

#goods > ul > li p:nth-child(4) {
    font-size: 14px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    line-height: 1.286;
    letter-spacing: 1.1px;
    word-spacing: 2.6px;
}

#goods ul li span {
    float: right;
    font-size: 1.2em;
    font-family: "NeuzeitS";
    color: rgb(150, 150, 150);
    line-height: 1.286;
    text-align: right;
    margin-top: 10px;
}


/* footer */

footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5%;
}

#footer {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37.18px;
    margin-bottom: 41.79px;
}

#social {
    width: 327px;
    display: inline-block;
    margin-top: 17.39px;
}

#social div {
    float: left;
}

#facebook {
    background: url('../images/social.png') no-repeat 0 0;
    width: 11px;
    height: 22px;
    padding-left: 46px;
}

#facebook:hover {
    background: url('../images/social-color.png') no-repeat 0 0;
    width: 11px;
    height: 22px;
    padding-left: 46px;
}

#tweeter {
    background: url('../images/social.png') no-repeat -45px 0px;
    width: 23px;
    height: 22px;
    padding-left: 54px;
}

#tweeter:hover {
    background: url('../images/social-color.png') no-repeat -45px 0px;
    width: 23px;
    height: 22px;
    padding-left: 54px;
}

#instagram {
    background: url('../images/social.png') no-repeat -100px -0px;
    width: 20px;
    height: 22px;
    padding-left: 50px;
}

#instagram:hover {
    background: url('../images/social-color.png') no-repeat -100px 0px;
    width: 20px;
    height: 22px;
    padding-left: 50px;
}

#pinterest {
    background: url('../images/social.png') no-repeat -149px 0;
    width: 23px;
    height: 22px;
    padding-left: 58px;
}

#pinterest:hover {
    background: url('../images/social-color.png') no-repeat -149px 0;
    width: 23px;
    height: 22px;
    padding-left: 58px;
}

#tweeter2 {
    background: url('../images/social.png') no-repeat -208px 0;
    width: 12px;
    height: 22px;
    padding-left: 46px;
}

#tweeter2:hover {
    background: url('../images/social-color.png') no-repeat -208px 0;
    width: 12px;
    height: 22px;
    padding-left: 46px;
}

#sv {
    background: url('../images/social.png') no-repeat -253px 0px;
    width: 29px;
    height: 22px;
    padding-left: 55px;
}

#sv:hover {
    background: url('../images/social-color.png') no-repeat -253px 0px;
    width: 29px;
    height: 22px;
    padding-left: 55px;
}

#b {
    background: url('../images/social.png') no-repeat -309px 0;
    width: 18px;
    height: 22px;
}

#b:hover {
    background: url('../images/social-color.png') no-repeat -309px 0;
    width: 18px;
    height: 22px;
}

#footer input {
    width: 290px;
    height: 38px;
    margin-top: 8px;
    margin-right: 2px;
    background: url(../images/black-arrow.png) no-repeat;
    background-position: right 5% top 50%;
    float: right;
    border: solid 1px #969696;
}

#footer input:hover {
    background: url(../images/arrow-input.png) no-repeat;
    background-position: right 5% top 50%;
}

input[placeholder] {
    font-size: 17px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    padding-left: 14.39px;
    padding-top: 0px;
    letter-spacing: 1.6px;
}

footer #list {
    width: 822px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.3%;
}

footer #list ul {
    overflow: auto;
}

footer #list ul li {
    float: left;
    list-style-type: none;
    margin-right: 54px;
    font-size: 14px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
}

footer #list ul li:last-child {
    margin-right: 0;
}

footer #list ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: "NeuzeitS";
    color: rgb(50, 50, 50);
    word-spacing: 3px;
    text-align: center;
    letter-spacing: 1.2px;
}

footer #list ul li ul {
    float: right;
    margin-right: 0;
}

footer #list ul li ul li {
    margin-right: 0;
    position: relative;
}

footer #list ul ul li:after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #afafaf;
    display: inline-block;
}

footer #list ul ul li:last-child:after {
    display: none;
}

footer #list ul li ul li a {
    padding-left: 12px;
    padding-right: 12px;
    word-spacing: 3px;
    text-align: center;
    letter-spacing: 1.2px;
}

footer #footerTerms {
    margin-top: 45.59px;
    width: 472px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

footer #footerTerms li {
    float: left;
    margin-right: 0;
    position: relative;
}

footer #footerTerms li a {
    color: #b2b2b2;
    letter-spacing: 1px;
    word-spacing: 1.3px;
    font-size: 11px;
    padding-left: 7px;
    padding-right: 7px;
}

footer #footerTerms li:after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #afafaf;
    display: inline-block;
}

footer #footerTerms li:last-child:after {
    display: none;
    padding-right: 0;
}

#belowFooter {
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

#belowFooter ul {
    overflow: auto;
    display: inline-block;
}

#belowFooter ul li {
    float: left;
    margin-right: 0;
    position: relative;
}

#belowFooter li:after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: #afafaf;
    display: inline-block;
}

#belowFooter li:last-child:after {
    display: none;
    padding-right: 0;
}

#belowFooter ul li a {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    line-height: 2.323;
    text-align: center;
    padding-left: 11px;
    padding-right: 11px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#belowFooter span {
    float: right;
    font-size: 10px;
    font-family: "NeuzeitS";
    color: rgb(178, 178, 178);
    text-transform: uppercase;
    line-height: 2.323;
}

#belowFooter span img {
    margin-top: -5px;
    margin-left: 7px;
    width: 8px;
    height: 8px;
}

#belowFooter span img:hover {
    background: url(../images/close.png) no-repeat;
}

.clear {
    clear: both;
}
