nav {
    width: 100%;
}

nav ul {
    float: left;
    height: 48px;
    background-image: url("menu.png");
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Arial';
}

nav ul li {
    float: left;
    height: 48px;
    padding: 10px 19px 10px 19px;
    box-sizing: border-box;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #ffffff;
}

nav ul li a {
    font-size: 21px;
    color: #a7162e;
    text-decoration: none;
    text-align: center;
}

nav ul li:nth-child(1) {
    border-left: none;
}

nav ul li:nth-child(4) {
    border-right: none;
}

#button {
    width: 100%;
    float: left;
    margin-top: 20px;
    font-size: 15px;
}

.left {
    background: transparent url('button-left.png') no-repeat;
    display: block;
    width: 25px;
    height: 57px;
    float: left;
}

button {
    border: none;
    background: url('button.png');
    outline-style: none;
    height: 57px;
    float: left;
    padding: 0;
}

.right {
    background: transparent url('button-right.png') no-repeat;
    display: block;
    width: 25px;
    height: 57px;
    float: left;
}

button span {
    position: relative;
    top: -5px;
}

button a {
    text-decoration: none;
}

div#image {
    float: left;
}

div#bigImage {
    margin-top: 30px;
    margin-right: 50px;
    float: left;
    width: 500px;
    height: 400px;
}

div#bigImage img {
    box-shadow: 5px 5px 12px #888888;
}

div#smallImage {
    float: left;
    width: 150px;
    margin-top: 30px;
    height: 400px;
}

div#smallImage img {
    margin-bottom: 50px;
    display: block;
    -webkit-box-shadow: 5px 5px 12px #888888;
    -moz-box-shadow: 5px 5px 12px #888888;
    box-shadow: 5px 5px 12px #888888;
}
