@import 'reset';

$font-stack:"Open Sans", "Segoe UI", Helvetica, Sans-Serif;
$primary-color:black;
$second-color:#bfbfbf;
$third-color:#4CAF50;
$border-radius1:4px 4px 0 0;
$border-radius2:4px;

@mixin headline($size, $mtop, $mbottom, $weight){
font-size:$size;
margin-top:$mtop;
margin-bottom:$mbottom;
font-weight: $weight;
}
@mixin voucher($bimg, $brepeat, $ptop, $pleft, $color, $width, $height, $bsize, $border, $boxs){
background-image: $bimg;
background-repeat: $brepeat;
padding-top: $ptop;
padding-left:$pleft;
color:$color;
width:$width;
height:$height;
background-size: $bsize;
border:$border;
box-sizing: $boxs;
}
@mixin position($display, $width, $float)
{
display:$display;
width:$width;
float:$float;
}






/*obshti*/
body{
margin-left:auto;
margin-right:auto;
width:1200px;
font-family:$font-stack;
}
h1{
@include headline(30px,10px,10px,initial)
}
h2{
@include headline(25px,10px,10px,bold)
}
h3{
@include headline(20px,10px,10px,initial)
}
p{
@include headline(17px,20px,20px,initial)
}
a{
font-size:20px;
text-decoration:none;
}
a:hover{
background-color:$third-color;
}
input{
font-family: $font-stack;
}
form{
width:700px;
}
input[type=text],[type=email],[type=password],[type=date],[type=tel]{
width: 100%;
padding: 6px 10px;
margin: 8px 0;
box-sizing: border-box;
outline: none;
}
input:focus{
border-color:$third-color;
}
input.type-text{
width:15%;
}
input[type=checkbox]{
width:18px;
height:18px;
padding: 6px 10px;
margin: 8px 0;
box-sizing: border-box;
}
input[type=radio]{
	@extend input[type=checkbox];
}
input[type=submit]{
border:none;
color: white;
padding: 10px 20px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
float:right;
border-radius: $border-radius2;
}
input[type=reset]{
	@extend input[type=submit];
}
textarea {
width: 100%;
height: 80px;
padding: 12px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: $border-radius2;
background-color: #f8f8f8;
font-size: 16px;
font-family:$font-stack; 
resize: none;
}
textarea:focus{
border-color:$third-color;
}
table {
border-collapse: collapse;
width: 100%;
margin-top:20px;
margin-bottom: 20px;
}
td{
text-align: left;
padding: 8px;
}
tr:nth-child(even){
background-color: #f2f2f2;
}










/*header*/
header{
width:1200px;
margin-top:20px;
overflow: auto;
padding-bottom:21px;
img{
	width:100px;
	float:left;
}
h1{
	width:600px;
	padding-top:20px;
	float:left;
}
p{
	float:right;
	background-color:$second-color;
	margin-top:35px;
	margin-right:10px;
	padding: 10px 15px;
	border-radius: $border-radius1;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
	a{
		color:white;
		padding: 10px 15px;
	}
	a:hover{
		background-color:transparent;
	}
	&:hover{
		background-color:$third-color;
	}
}
>a:visited{
	color:$primary-color;
	background-color: transparent;
}

}








/*nav*/
nav{
@include position(block, 1100px, right)
}
nav ul {
list-style-type: none;
height:50px;
}
nav li {
display: inline-block;
}
nav ul li a{
background-color:$primary-color;
color: white;
padding: 10px 20px;
border-radius:$border-radius1;
transition-property: background;
transition-duration: 1s;
transition-timing-function: linear;
}
nav ul li{
position: relative;
z-index: 20;
}
ul li:hover ul {display: block;}
ul li ul {
position: absolute;
width: 200px;
display: none;
top:32px;
left:0px;
}
ul li ul li { 
background: #555; 
display: block;
}
ul li ul li a {
display:block !important;
} 
ul li ul li:hover {
background: #666;
}
nav ul li input[type=submit]{
float:none;
background-color: $primary-color;
margin-right:10px;
margin-top:0px;
border-radius: $border-radius1;
}
nav ul li input[type=submit]:hover{
background-color:$third-color;
}
.search{
float:right;
}
input[type=search]{
width:280px;
height:35px;
}
span.plus{
display: none;
right: 10px;
float: right;
position: absolute;
top: 0px;
color:white;
padding:10px 10px;

} 
/*span.plus::before{
content: '+';
}
span.plus::after{
content: '-';

}*/
/* content */
aside{
	float: left;
	width: 203px;
	margin-top:20px;
	li{
		display: inline;
		a{
			display: block;
			width: 200px;
			background-color:$second-color;
			color: white;
			padding: 10px 20px;
			margin-bottom:10px;
			border-radius: $border-radius1;
			transition-property: background;
			transition-duration: 1s;
			transition-timing-function: linear;

		}
	}
	div{
		position:fixed;
		float:left;
		width:100px;
		margin-top:30px;
		>a img{
			float:left;
			width:200px;
			margin-bottom:30px;
		}
	}
}



/*section*/
section{
	width:900px;
	float:right;
	min-height:520px;
}
/*article*/
article ul{
	list-style-type: none;
	margin-top: 20px;
	padding: 0;
}
article li{
	@include position(block, 300px, left)
}
article a {
	background-color:transparent;
	margin-top:6px;
	display:inline-block;
}
article a:hover{
	background-color: white;
	color:$third-color;
}
article>p{
	text-align:justify;
}
.borderimg{
	border: 10px solid transparent;
	padding: 15px;
	-webkit-border-image: url(../Images/Books.jpg) 30 round; /* Safari 3.1-5 */
	-o-border-image: url(../Images/Books.jpg) 30 round; /* Opera 11-12.1 */
	border-image: url(../Images/Books.jpg) 30 round;
	width:600px;
	margin:auto;
}
.borderimg_width{
	width:800px;
}
.descbar{
	margin-top:25px;
	margin-bottom:25px;
}
article.descbar>a{
	background-color: #bfbfbf;
	color:white;
	border-radius: $border-radius1;
	padding: 10px 15px;
}
article.descbar>a:hover{
	background-color:$third-color;
}
.animation{
	color: red;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
	0%   {color: red;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: green;}
}

/* Standard syntax */
@keyframes example {
	0%   {color: red;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: green;}
}
.demo-3 {
	position:relative;
	float:left;
}
.demo-3 figure {
	margin:0;
	padding:0;
	position:relative;
	cursor:pointer;
}
.demo-3 li>a{
	display:none;
}
.demo-3 figure img {
	display:block;
	position:relative;
	z-index:10;
	height:300px;
}
.demo-3 figure figcaption {
	display:block;
	position:absolute;
	z-index:5;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.demo-3 figure h3 {
	font-family:'Lato';
	color:white;
	font-size:20px;
	text-align:left;
}
.demo-3 figure h3 a:hover{
	background-color: $second-color;
	color:$third-color;
}
.demo-3 figure figcaption {
	top:0;
	left:0;
	width:220px;
	height:100%;
	padding-left:10px;
	background-color:$second-color;
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	backface-visibility:hidden;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s 
}
.demo-3 figure img {
	backface-visibility:hidden;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
	-webkit-transform:rotateY(0);
	-moz-transform:rotateY(0);
	transform:rotateY(0)
}
mark { 
	background-color:$second-color;
	color: red;
}
.img {
	height: 450px;
	width: 310px;
	float:left;
	margin-right:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.img:hover {
	width: 400px;
	height: 600px;
}
.price{
	font-size:30px;
}
.view-eighth figure.mask {
	background-color: rgba(255, 255, 255, 0.7);
	top: -200px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0.5s;
	-moz-transition: all 0.3s ease-out 0.5s;
	-o-transition: all 0.3s ease-out 0.5s;
	-ms-transition: all 0.3s ease-out 0.5s;
	transition: all 0.3s ease-out 0.5s;
}
.view-eighth:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 10px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-animation: bounceY 0.9s linear;
	-moz-animation: bounceY 0.9s linear;
	-ms-animation: bounceY 0.9s linear;
	animation: bounceY 0.9s linear;
}
@keyframes bounceY {
	0% { transform: translateY(-205px);}
	40% { transform: translateY(-100px);}
	65% { transform: translateY(-52px);}
	82% { transform: translateY(-25px);}
	92% { transform: translateY(-12px);}
	55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
	0% { -moz-transform: translateY(-205px);}
	40% { -moz-transform: translateY(-100px);}
	65% { -moz-transform: translateY(-52px);}
	82% { -moz-transform: translateY(-25px);}
	92% { -moz-transform: translateY(-12px);}
	55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
	0% { -webkit-transform: translateY(-205px);}
	40% { -webkit-transform: translateY(-100px);}
	65% { -webkit-transform: translateY(-52px);}
	82% { -webkit-transform: translateY(-25px);}
	92% { -webkit-transform: translateY(-12px);}
	55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}
article address{
	@include position(block, 300px, left)
}
article.flexbox{
	display: -webkit-inline-flex; /* Safari */
	display: inline-flex;
	flex-wrap: wrap;
	margin-top:20px;
	margin-bottom:20px;
	width:920px;
}
div.flex-down{
	-webkit-flex-direction: column; /* Safari */
	flex-direction:         column;
	margin-right:20px;
	width:210px;
	height:318px;
}
.voucher1{
	@include voucher(url(../Images/books_gift.jpg), no-repeat, 10px, 10px, $third-color, 210px, 200px, 210px 205px, 1px solid $third-color, border-box)
}
.voucher2{
	@include voucher(url(../Images/Happy_birthday.jpeg), no-repeat, 10px, 10px, $third-color, 210px, 200px, 210px 205px, 1px solid $third-color, border-box)
}
.voucher3{
	@include voucher(url(../Images/thanks.jpg), no-repeat, 10px, 10px, white, 210px, 200px, 210px 205px, 1px solid $third-color, border-box)
}
.voucher4{
	@include voucher(url(../Images/graduation-diploma.jpg), no-repeat, 150px, 150px, white, 210px, 200px, 210px 205px, 1px solid $third-color, border-box)
}
div.flex-down input[type=submit]{
	margin-top:0;
	background-color: $third-color;
}
.multiple_column{
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	-webkit-column-gap: 12px; 
	-moz-column-gap: 12px; 
	column-gap: 12px;
}
article form input[type=submit]{
	background-color: $third-color;
}
article form input[type=reset]{
	background-color: $second-color;
}
article form input[type=reset]:hover{
	background-color: $third-color;
}
article>input[type=submit]{
	background-color: $third-color;
	border: none;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	float:left;
	border-radius: $border-radius2;
}
.menu-mobile{
	display:none;
	border:1px solid $second-color;
	width:100%;
	border:1px solid $second-color;
	box-sizing: border-box;

}
.handle {
	display: none;
	width:50px;
	height:50px;
	box-sizing:border-box; 
	padding:10px 10px;
	margin-right:0px;
	cursor:pointer;
}
.handle img{
	width:30px;
	height: 30px;
}
.login-menu{
	display:none;
}

.login-menu img{
	width:30px;
	height: 30px;
}
.navigation.menu-active {
	display: inline-block;
	width: 100%;
}

ul li ul.sub-menu-active {
	position: relative;
	top: 0;
	display: inline-block;
	width: 100%;
}
div.menu-search{
	@include position(none, 100%, left)
}
div.menu-search input[type=search]{
	margin-top:10px;
	margin-left:10px;
}
div.menu-search input[type=submit]{
	padding:10px 5px;
	margin-top:10px;
	margin-right:10px;
	background-color:$third-color;
}








/*footer*/
footer {
	width: 1200px;
	float: left;
	text-align: center;
	margin-top: 45px; 
	ul{
		margin-bottom: 20px;
		li>a{
			color:$primary-color;

			&:hover{
				color:$third-color;
			}
		}
		&.social-links li{
			border-right:none;
			a{
				text-align:center;
				width:32px;
				height:32px;
				display:inline-block;
				margin-left:5px;
				margin-right:5px;
			}
		}
	}
	li {
		display: inline;
		border-right: solid;
		a{
			margin-left:10px;
			margin-right:10px;
		}
		&:last-child{
			border-right: none;
		}
	}

	a:hover{
		background-color:white;
	}
}
$icons:(facebook, skype, twitter);
@each $social in $icons{
	.#{$social}{ background:url('../Images/#{$social}.png') no-repeat;}
}
.clear {
	clear: both;
}

/*hack*/
@-moz-document url-prefix() { 
	body{
		background-color:#dcefdc;
	}
	article a:hover{
		background-color:transparent;
		color:green;
	}
	article.descbar>a{
		color:white;
	}
	.view-eighth figure .mask {
		background-color:transparent;
	}
	input:focus{
		border-color:$primary-color;
	}
	footer ul li>a:hover{
		background-color:#dcefdc;
	}
	footer a:hover{
		background-color:#dcefdc;
	}
}


